.flat {
  .photo-menu {
    border: 1px solid #e9e9e9;
    border-radius: 50%;
    background-color: #f2f2f2;
  }

  .menu-items {
    .menu-item {
      color: #b1b1b1;

      &.selected {
        border: 1px solid #e9e9e9 !important;
        border-radius: 8px;
        background-color: #f2f2f2;
        color: #5093fe;
      }
    }
  }

  .span-section-home {
    color: #5093fe;
  }

  .name-section-home {
    color: #000;
  }

  .text-section-home {
    color: #b1b1b1;
  }

  .label {
    border: 1px solid #e9e9e9;
    border-radius: 8px;
    background-color: #f2f2f2;
  }
  .label-internal {
    background-color: #f2f2f2;
  }
}
