.flat {
  .photo-menu {
    border: 1px solid #e9e9e9;
    border-radius: 50%;
    background-color: #f2f2f2;
  }

  .menu-items {
    .menu-item {
      color: #b1b1b1;

      &.selected {
        border: 1px solid #e9e9e9 !important;
        border-radius: 8px;
        background-color: #f2f2f2;
        color: #5093fe;
      }
    }
  }

  .span-section-home {
    color: #5093fe;
  }

  .name-section-home {
    color: #000;
  }

  .text-section-home {
    color: #b1b1b1;
  }

  .label {
    border: 1px solid #e9e9e9;
    border-radius: 8px;
    background-color: #f2f2f2;
  }
  .label-internal {
    background-color: #f2f2f2;
  }

  .section-title {
    color: #000;
  }

  .resume-subtitle {
    border-color: #e9e9e9;
    color: #5093fe;
    background: #00294000 !important;
    padding-bottom: 5px;
  }

  .resume-timeline-wrapper::after {
    content: none; /* Remover a linha global */
  }
  .timeline-group::after {
    background: #e9e9e9; /* Cor da linha do grupo */
  }
  .timeline-dot {
    background-color: #5093fe;
    border: 3px solid #f2f2f2;
  }

  .resume-item {
    border-color: #e9e9e9;
    background-color: #f2f2f2;
    h5 {
      color: #b1b1b1;
    }
    p {
      color: #b1b1b1;
    }
  }

  .blog-card {
    border-color: #e9e9e9;
    background: #f2f2f2;
    .blog-date {
      color: #b1b1b1;
    }
    p {
      color: #b1b1b1;
    }
  }

  .tag {
    background: #e9e9e9;
    color: #5093fe;
  }

  .contact-content > p {
    color: #b1b1b1;
  }

  .form-input,
  .form-textarea {
    border-color: #e9e9e9;
    background-color: #f2f2f2;
  }

  .submit-button {
    background: #5093fe;
    color: #fff;
    border: 1px solid #e9e9e9;
  }

  .footer {
    border-top: 1px solid #e9e9e9;
    .footer-content p {
      color: #b1b1b1;
    }
  }

  .menu.is-scrolled {
    background-color: #f2f2f2;
    border-bottom: 1px solid #e9e9e9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  }

  /* NOVOS ESTILOS FLAT (Projects) */
  .filter-button.active {
    background-color: #5093fe;
    color: #fff;
    border-color: #5093fe;
  }

  .pagination-button {
    border: 1px solid #e9e9e9;
    background-color: #f2f2f2;
    color: #5093fe;
  }
  .pagination-button.active {
    background-color: #5093fe;
    color: #fff;
  }
}
